<div class="topnav">
  <% if (user === undefined) { %>
        <a href="urls_register.ejs">Register</a>
        <a href="urls_login.ejs">Login</a>
    <% } else { %>
        <p>User: <b><%= user.id %></b></p>
        <form action="/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
    <% }; %>
</div>