<!DOCTYPE html>

<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
  <h1>url</h1>
	  <form action="/urls/<%=shortURL%>" method="POST" style="">
	    <label for="updateURL">Update URL:</label>
	    <input id="updateURL" type="text" name="updateURL" value="<%= longURL%>" >
	    <input type="submit" value="UPDATE">
	  <p>Short Link: <%= shortURL %></p>
</body>
</html>