<!DOCTYPE html>

<html lang="en">
<head>
  <title>tinyapp</title>
</head>
<style>
input[type=email], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
</style>

<div class="topnav">
  <% if (user === undefined) { %>
        <form action="/login" method="POST">
            <input id="username" type="text" name="email" placeholder="enter username" style="width: 100px, height: 100px;">
            <input id="password" type="password" name="password" placeholder="password">
            <input type="submit" value="Sign In">
        </form>
    <% } else { %>
        <p>User: <b><%= user.id %></b></p>
        <form action="/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
    <% }; %>
</div>