<!DOCTYPE html>

<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
  <h1>url</h1>
  <p>Long Link: <%= longURL %></p>
  <p>Short Link: <%= shortURL %></p>
</body>
</html>