<!DOCTYPE html>

<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
  <h1>urls</h1>
  <ul>
    <% for (key in urls) { %>
      <li><%=key%> - <%= urls[key] %></li>
      <form method="POST" action="/urls/<%=key%>/delete">
      	<input type="submit" value="DELETE">
      </form>
    <% }; %>
  </ul>
  <a href="">shorten your links!</a>
</body>
</html>